/target/
!.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
*.iws
*.iws.idea
*.ipr
.idea_modules/
*.editorconfig
.idea/caches/
.idea/libraries/
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/usage.statistics.xml
.idea/webResources.xml
.idea/workspace.xml
.idea/tasks.xml

/out/

/.idea/codeStyles/
/.idea/dictionaries/
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/
/.idea/vcs.xml
/.idea/version_control.xml
/.idea/www/

.idea/.name
.DS_Store
Thumbs.db

/log/
/logs/
*.log
*.log.*
*.un~
*.swp

.idea/.idea/
.idea/*.iml~

*.bak
*.bak.*
*.~
